<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Profixx"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".BussinessActivity.BusinessProfileActivity"
            android:exported="false" />
        <activity
            android:name=".BussinessActivity.ViewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".BussinessActivity.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".BussinessActivity.BusinessReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BusinessViewActivity"
            android:exported="false" />
        <activity
            android:name=".BussinessActivity.ViewProductsActivity"
            android:exported="false" />
        <activity
            android:name=".BussinessActivity.CreateProductActivity"
            android:exported="false" />
        <activity
            android:name=".BussinessActivity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Users.BusinessLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Users.BusinessRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Users.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Users.SigninActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>